{% extends 'work_app/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'equations.css' %}" media="screen">

  <section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-width="860" data-image-height="571" id="sec-3229" style="background:url({% static 'images/math_background.png' %}) no-repeat; background-size:100% 100%">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-title u-text-1">
        <span style="font-weight: 700;">Вiтаємо на EasyMath!</span>
        <br>
      </h1>
      <p class="u-large-text u-text u-text-variant u-text-2">
            <span style="font-size: 1.5rem;" class="u-text-palette-5-light-2">Ресурс, який допомогає школярам вирішувати рівняння з математики <br>
              <a href="{% url 'equations_list' %}" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-palette-1-light-2 u-text-hover-black u-text-palette-1-light-2 u-btn-1">Перейти к вибору рівняння</a>
              <br>
            </span>
      </p>
    </div>
  </section>
{% endblock %}

